<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/combine.css">
    <link rel="stylesheet" href="../bower_components/formvalidation/dist/css/formValidation.min.css">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/ko.js"></script>
    <script src="../bower_components/formvalidation/dist/js/formValidation.min.js"></script>
    <script src="../bower_components/formvalidation/dist/js/framework/bootstrap.min.js"></script>
</head>
<title>HTML Tutorial</title>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>


<div class="container">
    <!-- 내용은 여기에 -->
    $screen_content
</div>
    $page_scripts
</body>
</html>
